.experience {
  background: #080c12;
}

.experience-list {
  max-width: 1000px;
}

.experience-item {
  display: grid;

  grid-template-columns: 150px 30px 1fr;

  gap: 25px;

  margin-bottom: 55px;
}

.experience-year {
  padding-top: 5px;

  color: #596474;

  font-family: monospace;

  font-size: 11px;

  text-align: right;
}

.experience-line {
  position: relative;

  display: flex;

  justify-content: center;
}

.experience-line::before {
  content: "";

  position: absolute;

  top: 7px;
  bottom: -65px;

  width: 1px;

  background: #202b38;
}

.experience-item:last-child
.experience-line::before {
  display: none;
}

.experience-line span {
  position: relative;

  z-index: 2;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: #00d4ff;

  box-shadow:
    0 0 0 5px rgba(0, 212, 255, 0.08);
}

.experience-content {
  padding: 30px;

  background: #0b1018;

  border: 1px solid #1a2430;

  border-radius: 12px;

  transition: 0.3s;
}

.experience-content:hover {
  border-color: rgba(0, 212, 255, 0.4);

  transform: translateX(5px);
}

.experience-content h3 {
  font-family: "Space Grotesk", sans-serif;

  font-size: 22px;
}

.experience-content h4 {
  margin-top: 6px;

  color: #00d4ff;

  font-size: 13px;

  font-weight: 500;
}

.experience-content p {
  margin-top: 18px;

  color: #788394;

  line-height: 1.8;

  font-size: 13px;
}

.experience-tags {
  display: flex;

  flex-wrap: wrap;

  gap: 8px;

  margin-top: 20px;
}

.experience-tags span {
  padding: 6px 9px;

  background: #121a24;

  color: #687486;

  border-radius: 4px;

  font-family: monospace;

  font-size: 10px;
}

@media (max-width: 700px) {
  .experience-item {
    grid-template-columns: 20px 1fr;

    gap: 15px;
  }

  .experience-year {
    grid-column: span 2;

    text-align: left;

    padding-left: 35px;
  }

  .experience-line {
    grid-row: 2;
  }

  .experience-content {
    grid-column: 2;
  }
}