.contactContainor {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contactTopic {
  display: flex;
  align-items: center;
}
.contactTo {
  font-family: "Lora", serif;
  font-size: 40px;
  font-style: italic;
  color: #7B1D55;
}
.contactDetails {
  width: 80%;
}
.contactForm {
  width: 50%;
  padding: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.inputDet {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  font-family: "Nunito", sans-serif;
  font-size: medium;
}
.inputDet:focus {
  border-color: #7B1D55;
}
.inputDetC {
  resize: none;
  height: 100px;
}
.inputDet::placeholder,
.inputDetC::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: medium;
}
.conSubmit {
  display: inline-block;
  text-decoration: none;
  color: #fdfff5;
  font-family: "Nunito", sans-serif;
  font-size: large;
  padding: 8px 20px;
  border: 2px solid #7B1D55;
  width: 30%;
  border-radius: 20px;
  background-color: #7B1D55;
  margin-top: 15px;
  text-transform: capitalize;
}
